paper.aux
paper.log
paper.out
paper.toc
paper_full.aux
paper_full.log
paper_full.out
paper_full.pdf
paper_full.toc
full_q3_extension.aux
full_q3_extension.log
full_q3_extension.out
full_q3_main.aux
full_q3_main.log
full_q3_main.out
submission.aux
submission.log
submission.out
__pycache__/
*.pyc
/character_ring_iter/verify_sun_repair_certificates_gmp
/character_ring_iter/verify_d_high_rank_finite_tails_gmp
/character_ring_iter/dunkl_exceptional_coefficients_gmp
/character_ring_iter/trace_square_cutoff_mpfr
/character_ring_iter/direct_chain_rect_e8_parallel_certificate
